.testing-css {
    height: 85%;
    width:  85%;
    margin-left: 120px;
    
}

.imagen-css {
    height: 85%;
    width:  85%;
    margin-left: 120px;
    
}

.card-jugador {
    margin-left: 15px;
}
.card-traspasos {
    margin-left: 535px;
    margin-top: -477px;
}

.card-clubes {
    margin-left: 1050px;
    margin-top: -477px;
}