<div class="card card-jugador" style="width: 18rem;">
    <img src="../assets/jugadorCard.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jugadores</h5>
      <p class="card-text">Analiza las estadisticas de los jugadores que participan en la liga de futbol de bogota</p>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>

<div class="card card-traspasos" style="width: 18rem;">
  <img src="../assets/FIFA.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Traspasos</h5>
    <p class="card-text">Verificar traspasos de un jugador a un club que pertenezca a la Liga de Futbol de Bogota</p>
    <a href="#" class="btn btn-primary">Ir</a>
  </div>
</div>

<div class="card card-clubes" style="width: 18rem;">
  <img src="../assets/clubes.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Clubes</h5>
    <p class="card-text">Revisa cada uno de los clubes formadores pertenecientes a la liga de futbol de bogota</p>
    <a href="#" class="btn btn-primary">Ir</a>
  </div>
</div>
  



 